[defaults]
remote_user=student

collections_paths=./mycollection:/usr/share/ansible/collections

[galaxy]
server_list = rh-certified_repo

[galaxy_server.rh-certified_repo]
url=https://hub.lab.example.com/api/galaxy/content/rh-certified/
token=9576566e706752d7728dc8e4e07df3b6ad87b689
